<?xml version="1.0" ?>
<robot name="bebopv2" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find bebopv2_description)/urdf/materials.xacro" />
<xacro:include filename="$(find bebopv2_description)/urdf/bebopv2.ros2control" />
<xacro:include filename="$(find bebopv2_description)/urdf/bebopv2.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-8.495725208879161e-05 0.0020602048068726576 0.06042048201634313" rpy="0 0 0"/>
    <mass value="6.6999999999999975"/>
    <inertia ixx="0.086457" iyy="0.04898" izz="0.05372" ixy="0.000129" iyz="-0.000847" ixz="-0.001646"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="knee_flexion_left_1">
  <inertial>
    <origin xyz="3.846626425058064e-05 0.01659814266918333 -0.12318431182483869" rpy="0 0 0"/>
    <mass value="0.11370113593752607"/>
    <inertia ixx="0.000949" iyy="0.000959" izz="2.1e-05" ixy="-0.0" iyz="-6e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.063261 -0.1782 0.420902" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/knee_flexion_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.063261 -0.1782 0.420902" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/knee_flexion_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="knee_flexion_right_1">
  <inertial>
    <origin xyz="-0.0021891088643420653 -0.01659808446088712 -0.12316566275884544" rpy="0 0 0"/>
    <mass value="0.11369998148988655"/>
    <inertia ixx="0.000949" iyy="0.000959" izz="2.2e-05" ixy="0.0" iyz="6e-06" ixz="-1.6e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.063523 0.178 0.421034" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/knee_flexion_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.063523 0.178 0.421034" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/knee_flexion_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_flexion_right_1">
  <inertial>
    <origin xyz="0.0013636431736272592 -0.005138644819907778 -0.11306629060566109" rpy="0 0 0"/>
    <mass value="1.1494365230098111"/>
    <inertia ixx="0.004841" iyy="0.004393" izz="0.00166" ixy="-8e-06" iyz="0.000394" ixz="4e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.003527 0.1503 -0.013" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/hip_flexion_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.003527 0.1503 -0.013" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/hip_flexion_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_flexion_left_1">
  <inertial>
    <origin xyz="0.0013616527842525501 0.005166034468434444 -0.11306634650440041" rpy="0 0 0"/>
    <mass value="1.1494341700004236"/>
    <inertia ixx="0.004841" iyy="0.004393" izz="0.00166" ixy="8e-06" iyz="-0.000393" ixz="4e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.003789 -0.1505 -0.013132" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/hip_flexion_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.003789 -0.1505 -0.013132" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/hip_flexion_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_abduction_right_1">
  <inertial>
    <origin xyz="0.03210238385368529 -0.00031798171381045015 -0.1813015006925155" rpy="0 0 0"/>
    <mass value="1.741992832749943"/>
    <inertia ixx="0.023688" iyy="0.024244" izz="0.001709" ixy="4e-06" iyz="-0.000107" ixz="0.001494"/>
  </inertial>
  <visual>
    <origin xyz="-0.026023 0.1503 0.127" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/hip_abduction_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.026023 0.1503 0.127" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/hip_abduction_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="hip_abduction_left_1">
  <inertial>
    <origin xyz="0.03177093685294447 0.00031798236885224873 -0.18130159101260016" rpy="0 0 0"/>
    <mass value="1.741996667034525"/>
    <inertia ixx="0.023689" iyy="0.024237" izz="0.001703" ixy="-2e-06" iyz="0.000107" ixz="0.00145"/>
  </inertial>
  <visual>
    <origin xyz="-0.025761 -0.1505 0.126868" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/hip_abduction_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.025761 -0.1505 0.126868" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/hip_abduction_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="foot_right_1">
  <inertial>
    <origin xyz="0.011485686877247665 0.022215465357853237 -0.023509071789787894" rpy="0 0 0"/>
    <mass value="0.8000056692711454"/>
    <inertia ixx="0.001043" iyy="0.002541" izz="0.002558" ixy="-0.0" iyz="0.0" ixz="0.00016"/>
  </inertial>
  <visual>
    <origin xyz="-0.059094 0.178 0.674495" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/foot_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.059094 0.178 0.674495" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/foot_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="foot_left_1">
  <inertial>
    <origin xyz="0.011473956574195115 -0.025038911721186607 -0.023484348928246468" rpy="0 0 0"/>
    <mass value="0.7999816122276703"/>
    <inertia ixx="0.001044" iyy="0.002539" izz="0.002557" ixy="7e-06" iyz="-1.4e-05" ixz="0.00016"/>
  </inertial>
  <visual>
    <origin xyz="-0.063265 -0.1782 0.674402" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/foot_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.063265 -0.1782 0.674402" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find bebopv2_description)/meshes/foot_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="knee_flexion_left_joint" type="revolute">
  <origin xyz="0.0375 0.0277 -0.294034" rpy="0 0 0"/>
  <parent link="hip_abduction_left_1"/>
  <child link="knee_flexion_left_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit upper="1.570796" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="knee_flexion_right_joint" type="revolute">
  <origin xyz="0.0375 -0.0277 -0.294034" rpy="0 0 0"/>
  <parent link="hip_abduction_right_1"/>
  <child link="knee_flexion_right_1"/>
  <axis xyz="-0.0 -1.0 -0.0"/>
  <limit upper="0.785398" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="hip_flexion_right_joint" type="revolute">
  <origin xyz="-0.003527 -0.1503 0.013" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="hip_flexion_right_1"/>
  <axis xyz="-0.0 -1.0 -0.0"/>
  <limit upper="0.785398" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="hip_flexion_left_joint" type="revolute">
  <origin xyz="-0.003789 0.1505 0.013132" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="hip_flexion_left_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
  <limit upper="0.785398" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="hip_abduction_right_joint" type="revolute">
  <origin xyz="0.02955 0.0 -0.14" rpy="0 0 0"/>
  <parent link="hip_flexion_right_1"/>
  <child link="hip_abduction_right_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <limit upper="0.174533" lower="-0.349066" effort="100" velocity="100"/>
</joint>

<joint name="hip_abduction_left_joint" type="revolute">
  <origin xyz="0.02955 0.0 -0.14" rpy="0 0 0"/>
  <parent link="hip_flexion_left_1"/>
  <child link="hip_abduction_left_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
  <limit upper="0.349066" lower="-0.174533" effort="100" velocity="100"/>
</joint>

<joint name="foot_right_joint" type="revolute">
  <origin xyz="-0.004429 0.0 -0.253461" rpy="0 0 0"/>
  <parent link="knee_flexion_right_1"/>
  <child link="foot_right_1"/>
  <axis xyz="-0.0 -1.0 -0.0"/>
  <limit upper="0.523599" lower="-0.523599" effort="100" velocity="100"/>
</joint>

<joint name="foot_left_joint" type="revolute">
  <origin xyz="4e-06 0.0 -0.2535" rpy="0 0 0"/>
  <parent link="knee_flexion_left_1"/>
  <child link="foot_left_1"/>
  <axis xyz="-0.0 1.0 0.0"/>
  <limit upper="0.523599" lower="-0.523599" effort="100" velocity="100"/>
</joint>

</robot>
